In [2]:
# (1)Write a code to reverse a string.
# Ans:-let the string be-
A="Welcome to the pwskills, sunil"
A

'Welcome to the pwskills, sunil'

In [3]:
A[ : : -1] #here the string is reversed completely by one step.

'linus ,sllikswp eht ot emocleW'

In [4]:
A[ : :-2] #here the string is reversed by two steps.

'lns,lispeto mce'

In [5]:
A[ : :-3] #here the string is reversed by three steps.

'lu,ls ttml'

In [1]:
# (2)Write a code to count the number of vowels in a string.
#Ans:-Let the string be-
string1 = "I am in the office"
count = 0
vowels = ["a", "e", "i", "o", "u","A","E","I","O","U"]

for i in range(len(string1)):
    if string1[i] in vowels:
        count += 1
print("Number of vowels in the given string is: ", count)

Number of vowels in the given string is:  7

In [6]:
#(3)Write a code to check if a given string is a palindrome or not.
#Ans:-when a string is reversed by using some code it remains same.Then we will know the string is palindrome string.
#lets take two example to understand the palindrome concept.
#example1:
A=input()
if A[ : :-1]==A:
    print("true")
else:
    print("false")

 madam

true

In [5]:
#(4) Write a code to check if two given strings are anagrams of each other.
#Ans:-Two strings are anagrams of each other means both contains same characters but in different orders.
#lets check:
string1=input()
string2=input()
if sorted(string1)==sorted(string2):
    print("Both strings are anagrams of each other")
else:
    print("Both strings are not anagrams of each other")

 sunilkumarnayak
 kumarsunilnayak

Both strings are anagrams of each other

In [17]:
#(5)Write a code to find all occurrences of a given substring within another string.
#Ans:-Lets check with an example:
main_string="I have an interest to do coding"
sub_string1="coding"
for i in sub_string1:
    if i not in main_string:
        print("All occurance of substring is not present in mainstring")
    else:
        print("All occurance of substring in mainstring")

All occurance of substring in mainstring
All occurance of substring in mainstring
All occurance of substring in mainstring
All occurance of substring in mainstring
All occurance of substring in mainstring
All occurance of substring in mainstring

In [38]:
#(6)Write a code to perform basic string compression using the counts of repeated characters.
#Ans:-
s="pwskills"
def compress_string(s):
    if not s:
        return ""
    count = 1
    i = 1
    while i < len(s) and s[i] == s[i - 1]:
        i += 1
        count += 1
    return s[0] + str(count) + compress_string(s[i:])
print(compress_string(s))

p1w1s1k1i1l2s1

In [8]:
#(7)Write a code to determine if a string has all unique characters.
#Ans:-
string=input()
str1=[]
for i in string:
    if i in str1:
        print("not unique")
        break
    else:
        str1.append(i)
str2="".join(str1)      
if str2==string:
    print("all characters are unique")

 i am a good dancer

not unique

In [ ]:
#(8)Write a code to convert a given string to uppercase or lowercase.
#Ans:-
sk="welcome to the office sunil"

In [91]:
L=sk.upper()

In [92]:
L

'WELCOME TO THE OFFICE SUNIL'

In [93]:
L.lower()

'welcome to the office sunil'

In [7]:
#(9)Write a code to count the number of words in a string.
#Ans:- 
str1=input("Enter a string:")
str2=str1.split(" ")
words=len(str2)
print("the number of words in this string is :",words)

Enter a string: he is more smarter than me

the number of words in this string is : 6

In [104]:
#(10) Write a code to concatenate two strings without using the + operator.
#Ans:-
string1="sunil kumar"
string2="nayak"
string3=" ".join([string1,string2])

In [105]:
print(string3)

sunil kumar nayak

In [106]:
string3

'sunil kumar nayak'

In [116]:
#(11)Write a code to remove all occurrences of a specific element from a list.
#Ans:-
lis=[1,2,3,"sunil","bikash",True,6+5j,[4,5,6]]
lis

[1, 2, 3, 'sunil', 'bikash', True, (6+5j), [4, 5, 6]]

In [117]:
lis.remove("sunil")

In [118]:
lis

[1, 2, 3, 'bikash', True, (6+5j), [4, 5, 6]]

In [119]:
lis.remove(1)

In [120]:
lis

[2, 3, 'bikash', True, (6+5j), [4, 5, 6]]

In [121]:
lis.clear() #here it clears all the element from the list.

In [122]:
lis

[]

In [25]:
#(12) Implement a code to find the second largest number in a given list of integers.
#Ans:-
list1=[5,7,8,42,54,92,47,85,25]
list1.remove(max(list1))
print(f"second largest number is {max(list1)}")

second largest number is 85

In [10]:
# (13)Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as value.
#Ans:-
list1=[1,"sunil",False,2.2,"sunil",1,1,2.2,False,False]
list2=[]
for i in set(list1):
    list2.append(list1.count(i))
{j:k for j , k in zip(set(list1),list2)}

{False: 3, 1: 3, 2.2: 2, 'sunil': 2}

In [138]:
#(14)Write a code to reverse a list in-place without using any built-in reverse functions.
#Ans:-
lis1=[1,4,5,"sunil","bikash",True,5+6J,[1,4,5]]

In [139]:
lis1

[1, 4, 5, 'sunil', 'bikash', True, (5+6j), [1, 4, 5]]

In [140]:
lis1[ : :-1]

[[1, 4, 5], (5+6j), True, 'bikash', 'sunil', 5, 4, 1]

In [13]:
#(15)Implement a code to find and remove duplicates from a list while preserving the original order of elements.
#Ans:-
list1=["sunil","bikash",1,2,4,2,5,9,"sunil"]
list1

['sunil', 'bikash', 1, 2, 4, 2, 5, 9, 'sunil']

In [2]:
list1.count("sunil")

2

In [3]:
list1.remove("sunil")

In [4]:
list1

['bikash', 1, 2, 4, 2, 5, 9, True, 'sunil']

In [5]:
list1.count(2)

2

In [6]:
list1.remove(2)

In [7]:
list1

['bikash', 1, 4, 2, 5, 9, True, 'sunil']

In [14]:
#(16)Create a code to check if a given list is sorted (either in ascending or descending order) or not.
#Ans:-
K=["apple","banana","potato","tamato","onion","brinjal"]
if sorted(K)==K:
    print("this list is sorted in ascending order")
elif sorted(K)[ : :-1]==K:
    print("this is sorted in descending order")
else:
    print("this is not sorted")

this is not sorted

In [4]:
#(17)Write a code to merge two sorted lists into a single sorted list.
#Ans:-
l1=["akash","sunil","rahul"]
l2=["babu","ramesh","himesh"]
l3=sorted(l1)
l4=sorted(l2)
l5=l3+l4
l6=sorted(l5)

In [5]:
l6

['akash', 'babu', 'himesh', 'rahul', 'ramesh', 'sunil']

In [27]:
#(18)Implement a code to find the intersection of two given lists.
#Ans:-
lis=["sunil","bikash","param",1,2,3,True]
lis1=["sunil","yadab",2,False]
lis2=[]
for i in lis:
    for j in lis1:
        for k in lis and lis1:
            if i==j==k:
                lis2.append(k)

In [28]:
lis2

['sunil', 2]

In [22]:
#(19)Create a code to find the union of two lists without duplicates.
#Ans:-
A=[1,4,6,5,3,5,8]
B=[10,20,1,4,30]
list(set(A)|set(B))

[1, 3, 4, 5, 6, 8, 10, 20, 30]

In [6]:
#(20)Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [29]:
#(21)Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.
#Ans:-
t1=(1,2,5,"sunil","bikash","aryan",9,47)
t2=(2,3,7,"bikash",9,47,"aryan")
t3=tuple(set(t1)&set(t2))
t3

(2, 'aryan', 'bikash', 9, 47)

In [44]:
# (22) Create a code that prompts the user to enter two sets of integers separated by commas. Then print the intersection of these two sets.
#Ans:-
s1={1,2,4,5,10,12,17}
s2={7,5,4,3,2,8,12}
print(s1&s2)

{2, 12, 4, 5}

In [47]:
#(23)Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.
#Ans:-
t1=(1,7,"sunil",9,"bikash")
t2=(8,12,4,"aryan","akash")
t3=t1+t2
t3

(1, 7, 'sunil', 9, 'bikash', 8, 12, 4, 'aryan', 'akash')

In [48]:
#(24)Develop a code that prompts the user to input two sets of strings. Then print the elements that are present in the first set but not in the second set.
#Ans:-
s1={"sunil","bikash","akash"}
s2={"akash","bhairav","ajay"}
print(s1-s2)

{'bikash', 'sunil'}

In [11]:
#(25) Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [1]:
#(26)Write a code that prompts the user to input two sets of characters. Then print the union of these two sets.
#Ans:-
s1={"s","u","n","i","l"}
s2={"b","i","k","a","s","h"}
print(s1|s2)

{'s', 'k', 'b', 'u', 'h', 'l', 'n', 'i', 'a'}

In [2]:
#(27)Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.
#Ans:-
t1=(1,2,5,99,101,77,34,7)
print(max(t1),min(t1))

101 1

In [3]:
#(28)Create a code that defines two sets of integers. Then print the union ,intersection and difference of these two sets.
#Ans:-
set1={1,5,7,8,9,4,6}
set2={1,6,4,8,9,10,13,15,17}
print(set1|set2) #union of two sets.
print(set1&set2) #intersection of two sets.
print(set1-set2) #difference of two sets.

{1, 4, 5, 6, 7, 8, 9, 10, 13, 15, 17}
{1, 4, 6, 8, 9}
{5, 7}

In [15]:
#(29)Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [4]:
#(30)Develop a code that prompts the user to input two sets of strings. Then print the symmetric difference of these two sets.
#Ans:-
A={"apple","banana","orange","cocanut"}
B={"apple","potato","brinjal","orange"}
print(A^B) #symmetric difference

{'banana', 'brinjal', 'cocanut', 'potato'}

In [5]:
#(31)Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.
#Ans:-
list1=["name","title","adress","title","adress"]
list2=[]
for i in set(list1):
    list2.append(list1.count(i))
{j:k for j , k in zip(set(list1),list2)}

{'title': 2, 'name': 1, 'adress': 2}

In [10]:
#(32)Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys the values should be added together.
#Ans:-
d1={"name":"sunil","adress":"kakatpur","contact":1234}
d2={"emailid":"su740@","contact":4789}
d1.update(d2)

In [11]:
d1

{'name': 'sunil', 'adress': 'kakatpur', 'contact': 4789, 'emailid': 'su740@'}

In [20]:
#(33)Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input and return the corresponding value. If any of the keys do not exist in the dictionary ,the function should return None.

In [21]:
#(34) Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [22]:
#(35)Write a code that inverts a dictionary swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multipl keys have the same value by storing the keys as a list in the inverted dictionary.