In [6]:
# (1)Discuss string slicing and provide examples.
# Ans:-String slicing is a technique in python programming to extract a some part of characters from the string.
#     The syntax of string slicing is string[start:end:step].
#Example

In [9]:
string1="I am a good dancer"
string1[0:4:1]

'I am'

In [10]:
string1[ : : ]#here it will take from start to end by one step by default.

'I am a good dancer'

In [11]:
string1[ :6: ] #here bydefault it cut the string from start to 6th index.

'I am a'

In [12]:
string1[-4: : ]#we can slice the string from 4th last index to end index.

'ncer'

In [13]:
string1[0:-2:1]#Here we can cut the string by excluding last two characters.

'I am a good danc'

In [14]:
string1[0:7:2]#we can cut string by 2 steps from 0th index to 7th index

'Ia  '

In [17]:
string1[ : :-2]#we can extract string by reverse it by 2 steps

'rca ogam '

In [19]:
# (2)Explain the key features of lists in Python.
# Ans:-List is the one type of data structure in python.
#     In the list data is stored orderly manner.
#     we can store any type of data here.

In [21]:
lis=[1,2,3,"sunil",True,(1,2,3),{1,2,3},3+8j,[4,5,6],{"name":"sunil"}]
lis

[1,
 2,
 3,
 'sunil',
 True,
 (1, 2, 3),
 {1, 2, 3},
 (3+8j),
 [4, 5, 6],
 {'name': 'sunil'}]

In [22]:
# #key features of list are 
# (a)ordered:list is the ordered collection data type where we can add or extract data easily.
lis.append("skn")

In [23]:
lis

[1,
 2,
 3,
 'sunil',
 True,
 (1, 2, 3),
 {1, 2, 3},
 (3+8j),
 [4, 5, 6],
 {'name': 'sunil'},
 'skn']

In [25]:
lis.pop()

'skn'

In [26]:
lis

[1,
 2,
 3,
 'sunil',
 True,
 (1, 2, 3),
 {1, 2, 3},
 (3+8j),
 [4, 5, 6],
 {'name': 'sunil'}]

In [28]:
# (b)It is mutable.
lis[4]="bikash"

In [29]:
lis

[1,
 2,
 3,
 'sunil',
 'bikash',
 (1, 2, 3),
 {1, 2, 3},
 (3+8j),
 [4, 5, 6],
 {'name': 'sunil'}]

In [31]:
# (c)List elements are indexable.
lis[0]

1

In [32]:
lis[-1]

{'name': 'sunil'}

In [36]:
# (d)list can be extendable.
lis1=[4,8,12]
lis.extend(lis1)

In [37]:
lis

[1,
 2,
 3,
 'sunil',
 'bikash',
 (1, 2, 3),
 {1, 2, 3},
 (3+8j),
 [4, 5, 6],
 {'name': 'sunil'},
 4,
 8,
 12]

In [38]:
#(e)list elements can be sliced.
lis[0:4]

[1, 2, 3, 'sunil']

In [39]:
# # (3)Describe how to access, modify and delete elements in a list with examples.
# Ans:-List element can be accessed by indexing.
lis

[1,
 2,
 3,
 'sunil',
 'bikash',
 (1, 2, 3),
 {1, 2, 3},
 (3+8j),
 [4, 5, 6],
 {'name': 'sunil'},
 4,
 8,
 12]

In [40]:
lis[5]

(1, 2, 3)

In [41]:
# List elements canbe modified by the help of indexing also.
lis[5]="karan"

In [42]:
lis #here we modified a tupple elememt to a string element.

[1,
 2,
 3,
 'sunil',
 'bikash',
 'karan',
 {1, 2, 3},
 (3+8j),
 [4, 5, 6],
 {'name': 'sunil'},
 4,
 8,
 12]

In [43]:
#list can be deleted and one by one also.
lis.pop() #here by the help of pop function we can clear element from last end one by one.

12

In [44]:
lis

[1,
 2,
 3,
 'sunil',
 'bikash',
 'karan',
 {1, 2, 3},
 (3+8j),
 [4, 5, 6],
 {'name': 'sunil'},
 4,
 8]

In [45]:
del lis

In [46]:
lis #it will give error because list is completely deleted.

NameError: name 'lis' is not defined

In [47]:
#  (4)Compare and contrast tuples and lists with examples.
# Ans:-compare:
#     (i)Both can store multiple items of different data type.
#     (ii)Both support indexing and slicing of element.

In [48]:
#example:
#(i)
lis=["ankit",1,2,True,2.3]
tup=(1,2,4,"sunil",True)

In [49]:
lis

['ankit', 1, 2, True, 2.3]

In [50]:
tup

(1, 2, 4, 'sunil', True)

In [51]:
#(ii)
lis[0]

'ankit'

In [53]:
lis[0:4]

['ankit', 1, 2, True]

In [54]:
tup[0]

1

In [55]:
tup[0:4]

(1, 2, 4, 'sunil')

In [56]:
# #Contrast:
#     (i)Lists are mutable and tupples are immutable
#     (ii)List uses square bracket where tuple uses parenthesis.
#     (iii)Lists are slower and consume more memory than tuples.
#     (iv)Lists have more builtin methods for modification than tuples.

In [57]:
# (i)
lis=["sunil",4,5,True]
lis[0]="bikash"

In [58]:
lis

['bikash', 4, 5, True]

In [59]:
tup=("sunil","akash",4,5,3.6)
tup[0]

'sunil'

In [60]:
tup[0]="Senapati"

TypeError: 'tuple' object does not support item assignment

In [61]:
# (iv)
lis

['bikash', 4, 5, True]

In [62]:
lis.append("sunil")

In [63]:
lis

['bikash', 4, 5, True, 'sunil']

In [64]:
lis.remove("bikash")

In [65]:
lis

[4, 5, True, 'sunil']

In [76]:
lis1=["sunil","karan","ankit","subash"]

In [78]:
sorted(lis1)

['ankit', 'karan', 'subash', 'sunil']

In [79]:
tup1=(4,5,6,7,7,5,9,3)

In [80]:
tup1.count(7)

2

In [81]:
tup1.index(9)

6

In [82]:
# # (5)Describe the key features of sets and provide examples of their use.
# Ans:-Set is one of the data type in python which contains unordered collection of unique elements.
#     The key features of sets are :
#     (i)Sets have unordered collection of unique elements.
#     (ii)It is mutable in nature.
#     (iii)Sets support some mathematical operations like union, intersection,difference and symmetric difference.
#     (iv)Sets are not support indexing because of un ordered collection.
#     (v)Sets can only contain hashable type elements.

In [83]:
set1={1,2,3,4,"sunil","ajay"}
type(set1)

set

In [86]:
set2={1,2,3,4,"sunil","sunil",4,2,1,3}

In [87]:
set2    #unique collection of elements.

{1, 2, 3, 4, 'sunil'}

In [88]:
set2[0] #not subscriptable

TypeError: 'set' object is not subscriptable

In [89]:
set2.add(100)

In [90]:
set2

{1, 100, 2, 3, 4, 'sunil'}

In [91]:
set2.pop()

1

In [92]:
set2.remove(100)

In [93]:
set2

{2, 3, 4, 'sunil'}

In [94]:
set1

{1, 2, 3, 4, 'ajay', 'sunil'}

In [95]:
set1|set2 #union of two sets.

{1, 2, 3, 4, 'ajay', 'sunil'}

In [96]:
set1&set2 #intersection of two sets.

{2, 3, 4, 'sunil'}

In [97]:
set1-set2 #difference of two sets

{1, 'ajay'}

In [98]:
set1^set2 #symmetric difference of two sets

{1, 'ajay'}

In [100]:
# (6)Discuss the use cases of tuples and sets in Python programming.
# Ans:-Use cases of tuples:Tuples have few built in method to use tupple due the immutable nature of tuple.

In [102]:
tup1=("sunil","ajay","bijay",1,2,3.3,True,2,2,2)
tup1.index("ajay")

1

In [104]:
tup1.count(2)

4

In [105]:
print(tup1*2)

('sunil', 'ajay', 'bijay', 1, 2, 3.3, True, 2, 2, 2, 'sunil', 'ajay', 'bijay', 1, 2, 3.3, True, 2, 2, 2)

In [106]:
for i in tup1:
    print(i)

sunil
ajay
bijay
1
2
3.3
True
2
2
2

In [108]:
tup2=(1,2,100,75,102,0)
max(tup2)

102

In [109]:
min(tup2)

0

In [110]:
#use cases of sets:

In [111]:
set1={1,23,5,7,9,15}
type(set1)

set

In [112]:
set1.add(70)

In [113]:
set1

{1, 5, 7, 9, 15, 23, 70}

In [114]:
set1.pop()   #it removes arbitarily

1

In [115]:
set1

{5, 7, 9, 15, 23, 70}

In [116]:
set2={7,9,8,1,8,7,5,4}
set2

{1, 4, 5, 7, 8, 9}

In [117]:
set1|set2 #union

{1, 4, 5, 7, 8, 9, 15, 23, 70}

In [118]:
set1&set2 #intersection

{5, 7, 9}

In [119]:
set1-set2 #difference

{15, 23, 70}

In [120]:
set1^set2 #symmentric difference

{1, 4, 8, 15, 23, 70}

In [121]:
# (7)Describe how to add modifys and delete items in a dictionary with examples.
# Ans:-Dictionaries are one type of data structure which stores data in the form of key value pair.keys are unique and immutable.
#     we can add, modify and delete the items in a dictionary by the following process:

In [122]:
d={}
type(d)

dict

In [123]:
d={"name":"sunil","adress":"kakatpur","contact":6371684824}
type(d)

dict

In [124]:
d

{'name': 'sunil', 'adress': 'kakatpur', 'contact': 6371684824}

In [125]:
d["school"]="svm" #we can add another keyvalue pair here by this process.

In [126]:
d

{'name': 'sunil', 'adress': 'kakatpur', 'contact': 6371684824, 'school': 'svm'}

In [127]:
#we can also modify the values by the help of keys.
d["name"]="bikash"

In [128]:
d

{'name': 'bikash',
 'adress': 'kakatpur',
 'contact': 6371684824,
 'school': 'svm'}

In [130]:
d.pop("adress")

'kakatpur'

In [131]:
d

{'name': 'bikash', 'contact': 6371684824, 'school': 'svm'}

In [132]:
d.clear() #removes all item from the dictionary.

In [133]:
d

{}

In [134]:
d1={"name":"akash","adress":"puri","contact":6371684824}

In [135]:
d1

{'name': 'akash', 'adress': 'puri', 'contact': 6371684824}

In [136]:
del d1 #it gives error because it completely deleted the dictionary.

In [137]:
d1

NameError: name 'd1' is not defined

In [138]:
# (8)Discuss the importance of dictionary keys being immutable and provide examples.
# Ans:-Dictionary is the one type of data structure in python which store data in the form of key value pair.Keys are unique and immutable.

In [139]:
d={"name":"keshab","adress":"bhubaneswar","contact":6371684824}
d["name"]

'keshab'

In [140]:
d[6371684824] #we can't access keys from the value.

KeyError: 6371684824

In [141]:
d.keys()

dict_keys(['name', 'adress', 'contact'])

In [142]:
d[[1,2,3]]="mantu"  #it will give error beacause of mutablity of list.

TypeError: unhashable type: 'list'

In [143]:
#mutable objects can't be the key of dictionary.

In [144]:
d[(1,2,3)]="mantu" #here tuple is a immutable data type.

In [145]:
d

{'name': 'keshab',
 'adress': 'bhubaneswar',
 'contact': 6371684824,
 (1, 2, 3): 'mantu'}

In [146]:
d[1]="skn" #integer also can be used  as a key.

In [147]:
d

{'name': 'keshab',
 'adress': 'bhubaneswar',
 'contact': 6371684824,
 (1, 2, 3): 'mantu',
 1: 'skn'}

In [148]:
d[@]="mkl" #no special character can be used as a key.

SyntaxError: invalid syntax (471094463.py, line 1)